@charset "utf-8";
/* CSS Document */

/*旅游线路样式*/
#main{/**/}


/*线路详情页行程日历*/
.calendar {
	overflow: hidden;
	padding-top: 0.27rem;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
	width: 100%;
	height: 3.82rem;
}

.calendar .outer {
	width: 100%;
	overflow: hidden;
}
.calendar table{
	background: #FFF;
	border-collapse: separate;
	border-spacing:0rem 0.1rem;
/*	display: inline;*/
	float:left;
	width: 100%;
	height: 100%;
	margin-top: -0.08rem;
	}
.calendar table tbody{
	width: 100%;
	border-collapse: separate;
	border-spacing:0rem 0.1rem;
}
.calendar table tbody tr:nth-child(3){
	border-top: 0rem solid white;
}
.calendar .week{
	/*display: inline-block;*/
	border-bottom: 1px solid #cccccc;
	margin-top:1rem ;
	margin-bottom: 1rem;
	height: 0.4rem;
	width: 100%;

	/*padding-bottom: -0.8rem;*/
}
.calendar .week th{
	border-bottom: 1px solid #cccccc;
	color: black;
	font-size: 0.12rem;
	line-height: 2em;
	overflow: hidden;
	text-align: center;
	vertical-align: bottom;
	font-family: "微软雅黑";
	font-weight: normal;
}
.calendar .week th.weekEnd {
	color: rgb(92, 181, 49);
}

.calendar .month div {
	background: #FFF;
	/*border-bottom: 1px solid #D5D5D5;
	box-shadow: 0 1px 2px #DDD;*/
	color: black;
	font:0.15rem "微软雅黑", "宋体", Arial;
	height: 0.2rem;
	margin-bottom: 0.03rem;
	overflow: hidden;
	padding-bottom: 0.02rem;
	letter-spacing: 0.01rem;
	text-align: center;
}
.calendar .month em{
	font-style: normal;
}
.calendar .month .nextMonth {
	float: left;
	width: 0.32rem;
	background: url(../img/arrowright.png) no-repeat;
	background-size:0.07rem 0.15rem;
}
.calendar .month .prevMonth{
	margin-left: 0.6rem;
	float: left;
	width: 0.32rem;
	background: url(../img/arrowleft.png) no-repeat;
	background-size:0.07rem 0.15rem;
}
.calendar .month .dates {
	float: left;
	width: 1.4rem;
	text-align: center;
	margin-top: -0.04rem;
	margin-left: -0.2rem;
}

.calendar .month .dates em {
	font:0.13rem Arial, Helvetica, sans-serif;
	
}

.calendar .month a {
	display: inline-block;
	height: 0.11rem;
	width: 0.32rem;
	text-decoration: none;
	/*overflow: hidden;*/
}

.calendar .month th a.prev {
	background-position: 0 0;
}

.calendar .month th a.prev:hover {
	background-position: 0 -22px;
}

.calendar .month th a.prev0 {
	background-position: 0 -44px;
	cursor: not-allowed;
}

.calendar .month th a.next {
	background-position: 0 -66px;
}

.calendar .month th a.next:hover {
	background-position: 0 -88px;
}

.calendar .month th a.next0 {
	background-position: 0 -110px;
	cursor: not-allowed;
}

.calendar td {
	right -136px;
	border-radius: 0.02rem;
	height: 0.38rem;
	line-height: 0.5em;
	width: 0.4rem;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	position: relative;
}
.calendar td[week="0"],.calendar td[week="6"]{
	color: #5cb531;
}

.calendar .cur{
	background-color:#5cb531 ;
	color: white;
	line-height: 0.5em;
	padding-top: 0.1rem;
	padding-bottom: 0;
}
.calendar .cur:after{
	content: "¥900";
	line-height: 2em;
	color: white;
	font-size: 0.05rem;
}

.calendar .future:after{
	content: "¥900";
	line-height: 2em;
	font-size: 0.1rem;
}
.calendar td.hover {
	background-position: right -202px;
	cursor: pointer;
}

.calendar td{
	font-family: "微软雅黑";
	font-size: 0.12rem;
	font-weight: normal;
	font-style: normal;
}
.calendar td em{
	font-style: normal;
}
.calendar td em.money {
	color: #F60;
	font-size: 14px;
}